[Unit]
Description=LDAP server with REST API & file backends
After=network.target

[Service]
# User=root
# Group=root
ExecStart=/opt/gorestldap/gorestldap -c config.yaml -b rest -L 0.0.0.0:10389 -B dc=example,dc=com -I 300s
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
